:root {
  --color-mint: #80ee98; /* xanh mint sáng */
  --color-aqua: #46dfb1; /* xanh aqua */
  --color-cyan: #09d1c7; /* xanh cyan neon */
  --color-teal: #15919b; /* teal đậm */
  --color-deep-teal: #0c6478; /* teal rất đậm */
  --color-navy: #213a58; /* xanh navy */
  --color-purple: #c8a8e9;
  --color-orange: #f6bcba;
}
